.schedule {
    // padding-bottom: 30px;
}

.schedule__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.schedule__header {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    margin: 20px auto 50px auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    // user-select: none;

    .logout {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: #6CBD4A;
        }

        svg {
            font-size: 30px;
        }

    }
}

.logo {
    position: relative;
    width: 150px;
    height: 100px;
    user-select: none;
    pointer-events: none;

    img {
        object-fit: contain;
    }

}

.schedule__wrapper {
    max-width: 1140px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    gap: 100px;
    margin-bottom: 50px;
}

.schedule__days {
    font-family: 'Dinnextw1g_medium', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}

.schedule__days__item {
    text-transform: uppercase;
    background: #2A5968;
    padding: 20px 0;
    text-align: center;
    user-select: none;

    &.active {
        background: #6CBD4A;
    }
}

.schedule__rooms {
    flex-grow: 1;
}

.rooms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin: auto;

    .room__navigation__arrow {
        background: #2A5968;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        user-select: none;

        &:hover {
            background: #748D93;
        }

        svg {
            pointer-events: none;
        }
    }

    .room__name {
        font-family: 'Dinnextw1g_medium', sans-serif;
        text-transform: uppercase;
        user-select: none;
    }

}

.meetings {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;

    .noschedule__message {
        text-align: center;
        margin-top: 30px;
    }

    .meeting__card {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        gap: 50px;
        padding: 20px;
        border-left: 10px solid #6CBD4A;
        background: #2A5968;

        .meeting__detail {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 100%;
            flex-grow: 1;

            svg {
                fill: #6CBD4A;
            }

            &:first-child {
                max-width: 20%;
            }

            &:nth-child(2) {
                max-width: 20%;
                // color: red;
            }
        }
    }
}


/* Mobile */
@media (max-width: 700px) {

    .schedule {
        padding: 0 20px;
    }

    .schedule__wrapper {
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    .schedule__days {
        flex-direction: row;
        gap: 20px;
        width: 100%;
    }

    .schedule__days__item {
        flex-grow: 1;
        padding: 15px 0;
    }

    .schedule__header {
        margin: 20px auto 30px auto;

        .logout {
            gap: 5px;
            margin-top: 5px;

            svg {
                font-size: 25px;
            }
        }
    }

    .logo {
        position: relative;
        width: 100px;
        height: 70px;
        user-select: none;
        pointer-events: none;

        img {
            object-fit: contain;
        }

    }

    .meetings {
        .meeting__card {
            flex-direction: column;
            gap: 10px;


            .meeting__detail {
                display: flex;
                align-items: center;
                gap: 10px;
                // max-width: 20%;
                flex-grow: 1;

                svg {
                    fill: #6CBD4A;
                }

                &:first-child {
                    max-width: unset;
                }

                &:nth-child(2) {
                    max-width: unset;
                    // color: red;
                }
            }

        }
    }


}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}